body{
    background-color: #0073e6;
}

.searchWithIcon i{
    position: relative;  
}

.searchWithIcon input[type=text]{
padding-left: 40px;
width:25%;
color: white;
font-weight: bold;
}
.searchWithIcon input[type=search]{
    padding-left: 80px;
    width:25%;
}

.searchWithIcon{
    position: relative;  
}

#trello{
position: absolute;
left: 0;
color: white;
padding: 8px 8px;
}

#lupa{
    position: absolute;
    top: 9px;
   padding-left: 0%;
   transform: rotate(90deg);
}
    
.set{
    position: absolute;
    width: 98%;
    height: 32px;
    padding-top: 7px;
}

#plus{
    padding-left: 88%;
}

#info{
    padding-left: 90%;
}

#bell{
    padding-left: 92%;
}

nav{
    height: 50px;  
}

#nav{
    background-color: #0066cc;
}

nav input{
    width: 10%;
    opacity: 0.4;
}

@font-face{
  font-family: 'Mr Dafoe', cursive; 
    src: url(https://fonts.google.com/specimen/Mr+Dafoe);
}

nav h3, i{
    position: absolute;
    font-family: 'Mr Dafoe', cursive; 
    padding-left: 50%;
    color: white;
}

#i{
    padding-left: 47%;
    font-size: 30px;
}
h3{
    font-size: 30px;
}

h4{
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
}

p{
    color: white;
}


form {
    width:20%;
    margin-left: 10px;
}

.close{
    position: absolute;
    margin-left: 15px;
}

 #hide {
    background-color: #0066cc;    
    color: white;
    font-weight: bold;
}

#nombre, #nombre2{
    font-weight: bold;
    height: 40px;
}

#tarea, #tarea2{
    margin-top: 10px;
    height: 70px;
}

#buttons2{
    margin-top: 5px;
}

#container-2{
    margin-top: 0px;
    width: 20%;
}

#star{
    padding-left: 110px;
    top: 58px;
}

#lock{
    padding-left: 4px;
    top: 58px;
}

#p2{
    padding-left: 30px;
}

.p-2{
    padding-right: 20px;
}

::placeholder{ 
    color: black;
    opacity: 0.5; 
}

.wrap{
    background-color: lightgray;
}

#wrap2{
    width: 120%;
    padding-bottom: 10px;
}

#show2{
    width: 98%;
    padding-top: 7px;
    padding-left: 8px;
}

#buttons2{
    padding-top: 10px;
    padding-left: 10px;
}

